[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
graphene-django = "*"
django-hosts = "*"
structlog = "*"
pytest = "*"
python-dateutil = "*"
pytest-django = "*"

[dev-packages]

[requires]
python_version = "3.11"
